texto = #2B2B2B
fondo2 = #D6D6D6
naranja = #FF4B12
negro = #383838
grisClaro = #EFEFEF
a
	color white
	text-decoration none
a:hover
	color white
	text-decoration none
body
	color texto
	font-size 14px

header
	figure
		margin 0 auto
		width 400px
		img
			width 100%
nav
	background negro
	display none
	ul
		list-style none
		
		a
			font-size 18px
li
	color white
	background negro
	padding 0.3em
li:hover
	cursor pointer
	background #8E8E8E
	a
		color white
section
	article
		background grisClaro
		padding 0.7em		

	
#boton
	background negro
	color white
	h4
		padding 0.5em
	.menu2
		i
			margin-top 13px
			color white
		i:hover
			cursor pointer
.banner
	img
		width 100%
.arriba
	margin-top 0.5em
.derecha
	float right
.alinear
	margin-top 20px
.blanco
	background white