a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
body {
  color: #2b2b2b;
  font-size: 14px;
}
header figure {
  margin: 0 auto;
  width: 400px;
}
header figure img {
  width: 100%;
}
nav {
  background: #383838;
  display: none;
}
nav ul {
  list-style: none;
}
nav ul a {
  font-size: 18px;
}
li {
  color: #fff;
  background: #383838;
  padding: 0.3em;
}
li:hover {
  cursor: pointer;
  background: #8e8e8e;
}
li:hover a {
  color: #fff;
}
section article {
  background: #efefef;
  padding: 0.7em;
}
#boton {
  background: #383838;
  color: #fff;
}
#boton h4 {
  padding: 0.5em;
}
#boton .menu2 i {
  margin-top: 13px;
  color: #fff;
}
#boton .menu2 i:hover {
  cursor: pointer;
}
.banner img {
  width: 100%;
}
.arriba {
  margin-top: 0.5em;
}
.derecha {
  float: right;
}
.alinear {
  margin-top: 20px;
}
.blanco {
  background: #fff;
}
